

body {
  background-color: SteelBlue;
}
 
.pageContainer {
  width: 500px;
  margin: auto;
  padding: 90px;
  background-color: Khaki;
}
 
.imageContainer {
  width: 500px;
}
 
.textContainer {
  width: 500px;
  margin: auto;
  padding: 20px;
}

img {
  width: 100%;
}
 
h1 {
  font-family: Candara, cursive;
  font-size: 64px;
  color: Navy;
  text-align: center;
}
 
p, li, h2 {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #51473b;
  text-align: center;
}

.footer {
  background-color: black;
}
/* stylizing the
   links */

a: {
  text-align: center;
}

a:link {
  color: blue;
}

a:visited {
  color: red;
}

a:hover {
  color: pink;
}

a:active {
  color: yellow;
}




.pageContainer:after { 
  content: " ";
  display: table;
  clear: both;
}
 
